/* Cores Utilizadas no Projeto

#EBEBF2
#A4ABBF
#2D3540
#A69898
#0D0D0D

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
// <uniquifier>: Use a unique and descriptive class name

.jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
header{
font-family:inter;
width: 100%;
height: 210px;
}

/* NAVEBAR */
header nav#nav-esq{
width: 100%;
height: 210px;
background-color: #0d0d0d;
display: flex;

/*  FUNÇÕES PARA CENTRALIZAR OS BOTÕES E A LOGO NA NAV */
justify-content: center;
flex-flow: row;
align-items: center;
margin: 0;
padding: 0;

/*SOMBREAMENTO ABAIXO DA NEVABAR*/ 
position: absolute;
border-bottom: 2px solid rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 10px 12px rgba(0, 0, 0, 1);
z-index: 1;
} 

/*TRABALHAR NA LOGO*/
#logo img {
max-width: 100px;
}

header nav#nav-esq div#logo{
width: 144px;
height: 86px;
display: flex;
align-items: center;
justify-content: center;

}

header nav#nav-esq div#logo img{
max-width: 100%;
max-height: 100%;
}

/* MENU HAMBURGUER */
header nav#nav-esq ul#icone-menu{
display: none;
}

header nav#nav-esq ul#icone-menu li{
list-style: none;
}

header nav#nav-esq ul#icone-menu li ion-icon{
font-size: 16px;
color: #FFF;
margin-right: 2rem;
}

header nav#nav-esq ul#menu-principal{
margin-left: 87px;

display: flex;
flex-flow: wrap;
}

header nav#nav-esq ul#menu-principal li{
list-style: none;
font-size: 16px;
margin-right: 57px;
font-family: poppins;
}

/* AJUSTES PRA ESPAÇAMENTO ENTRE OS BOTOES*/
nav#nav-esq ul{
  list-style: none;
  display: flex; 
  gap: 20px; /* o gap é o espaçamento entro os botões */
  padding: 0px;
  margin: 0px;
  }

/* Falta personalizar */
header nav#nav-esq ul#menu-principal li a{
text-decoration: none;
font-size: 100%;
padding-bottom: 10px;
transition: color 0.3s ease;

}

/* Falta personalizar */
header nav#nav-esq ul#menu-principal li a:hover{
color: #AAA;
}

/* BOTÃO ABRIR EMPRESA */
.btn-empresa{
background-color: #FFF;
color: #0d0d0d;
padding: 10px 15px;
border-radius: 5px;
text-align: center;
font-family: poppins;
font-weight: bold;

}

/* BOTÕES DO CABEÇALHO */
.btns-menu{
color: #FFF;
}

/* PERSONALIZAÇÃO DE ÍCONES  */
.seta_baixo-icon {
width: 10px; 
height: auto;
margin-left: 5px; 
vertical-align: middle; 
}

/* BODY COLOR */
body {
background-color: #0d0d0d;
}

/* MAIN */
/* Estrutura do corpo do site */

/* BACKGROUND ABSTRATO */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .hero{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 1200px; 
  height: 870px;
  position: relative;
  box-shadow: 0px 4px 14.5px 8px #000000;
}

main .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../imagens/background-site.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

main .hero .content-hero{
  display: flex;
  flex-direction: row;
}

/* CONTAINERS */
.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* BOX ESQUERDA */
.box-esquerda{
  width: 600px;
  height: 730px;
  padding: 275px 102px 188px 62px;
  font-family: inter;
  font-weight: bold;
}

.box-esquerda .nome-empresa{
  display: flex;
  color:rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 0px;

}

.box-esquerda .slogan-empresa{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3px 0px 0px 0px;
  color:#FFF;

}
.box-esquerda .missao-empresa{
  display: flex;
  text-align: left;
  padding: 10px 0px 32px 0px;
  color:#FFF;
  font-weight:initial;
  
}

.box-esquerda .btn-fale-conosco{
  text-align: center;
  display: flex;
  text-decoration: none;
  background-color: #FFF;
  color: #0d0d0d;
  padding: 10px 16px 11px 17px;
  font-family: inter;
  font-weight: bolder;
  border-radius: 5px;

}

.box-esquerda .btn-saiba-mais{
  display: flex;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  color: #FFF;
  padding: 9px 16px 10px 17px;
  font-family: inter;
  font-weight: 600;
  border-radius: 5px;
  gap: 10px;

}

.box-esquerda .btn-saiba-mais img{
  width: 11px;
  height: 11px;
}

.box-esquerda div.btns{
  
  display: flex;
  padding: 0px 0px 0px 0px ;
  gap: 30px;
}

/* BOX DIREITA */
.box-direita{
  width: 600px;
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-direita .img-container {
  width: 362px;
  height: 485px;
  background-color: #7D7D7D;
  border-radius: 5px;
  position: relative;
}

.box-direita .img-container img{
  width: 398px;
  height: 596px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.container-inferior{
    height: 139px;
    display: flex;
    padding: 0px 103px 0px 34px;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

/* BOX INFERIOR */
.box-inferior{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: inter;
  font-size: 16px;
  font-weight: bold;
  padding: 28px;
  width: calc(355px + 28px);
  height: 100px;
  position: relative;
}

.box-inferior.first{
  width: 285px;
}

.box-inferior::after{
  content:"";
  border-right: 1px solid #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.box-inferior .poppins24{
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}
.box-inferior .poppins28{
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}
.box-inferior .poppins14{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* CONTAINER DO TIME DE PROFISSIONAIS */

main .container-equipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 1200px;
  background-color: #2C2C2C;
  margin: 0 auto;
  position: relative;
  
}

/* Títulos */
main .container-equipe h3{
  font-family: inter;
  font-weight: 700;
  color:#FFF;
  margin: 0;
  text-align: left;
  width: 100%;
  padding-left: 102px;
}

main .container-equipe h5{
  font-family: inter;
  font-weight: 300;
  color: #FFF;
  margin: 0;
  text-align: left;
  width: 100%;
  padding-left: 102px;
  margin-bottom: 33px;
}

/* LOGO */
main .container-equipe .logo{
  position: absolute;
  top: 77px;
  right: 120px;
  width: 75px;
  height: 58px;
  opacity: 0.2;
}

/* BOX EQUIPE */
/* DIMENSÕES DOS RETÂNGULOS */
main .container-equipe .box-equipe{ 
  width: 995px; 
  height: 602px; 
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  position: relative;
  gap: 20px; 
  padding: 10px;

  }

  /* ESTILIZAÇÃO DOS RETANGULOS */
main .container-equipe .box-equipe .retangulo {
  width: 285px;
  height: 210px;
  background-color: #7D7D7D; 
  border-radius: 5px;
  position: relative;
}

main .container-equipe .box-equipe .retangulo .retangulo-interno{
  width: 227px;
  height: 114px;
  border-radius: 5px;
  background-color: #adadad; 
  position: absolute;
  top: 127px; 
  left: 29px; 
  right: 29px; 
  bottom: 31px; 
  opacity: 0.9;

}




