/* Cores Utilizadas no Projeto

#EBEBF2
#A4ABBF
#2D3540
#A69898
#0D0D0D

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}


*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
header{
font-family:inter;
width: 100%;
height: 210px;
}

/* NAVEBAR */
header nav#nav-esq{
width: 100%;
height: 210px;
background-color: #0d0d0d;
display: flex;

/*  FUNÇÕES PARA CENTRALIZAR OS BOTÕES E A LOGO NA NAV */
justify-content: center;
flex-flow: row;
align-items: center;
margin: 0;
padding: 0;

/*SOMBREAMENTO ABAIXO DA NEVABAR*/ 
position: absolute;
border-bottom: 2px solid rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 10px 12px rgba(0, 0, 0, 1);
z-index: 1;
} 

/*TRABALHAR NA LOGO*/
#logo img {
max-width: 100px;
}

header nav#nav-esq div#logo{
width: 144px;
height: 86px;
display: flex;
align-items: center;
justify-content: center;

}

header nav#nav-esq div#logo img{
max-width: 100%;
max-height: 100%;
}

/* MENU HAMBURGUER */
header nav#nav-esq ul#icone-menu{
display: none;
}

header nav#nav-esq ul#icone-menu li{
list-style: none;
}

header nav#nav-esq ul#icone-menu li ion-icon{
font-size: 16px;
color: #FFF;
margin-right: 2rem;
}

header nav#nav-esq ul#menu-principal{
margin-left: 87px;

display: flex;
flex-flow: wrap;
}

header nav#nav-esq ul#menu-principal li{
list-style: none;
font-size: 16px;
margin-right: 57px;
font-family: poppins;
}

/* AJUSTES PRA ESPAÇAMENTO ENTRE OS BOTOES*/
nav#nav-esq ul{
  list-style: none;
  display: flex; 
  gap: 20px; 
  padding: 0px;
  margin: 0px;
  }

/* efeito ao passar mouse no btn - Falta personalizar */
header nav#nav-esq ul#menu-principal li a{
text-decoration: none;
font-size: 100%;
padding-bottom: 10px;
transition: color 0.3s ease;

}

/* Falta personalizar */
header nav#nav-esq ul#menu-principal li a:hover{
color: #AAA;
}

/* BOTÃO ABRIR EMPRESA */
.btn-empresa{
background-color: #FFF;
color: #0d0d0d;
padding: 10px 15px;
border-radius: 5px;
text-align: center;
font-family: poppins;
font-weight: bold;

}

/* BOTÕES DO CABEÇALHO */
.btns-menu{
color: #FFF;
}

/* PERSONALIZAÇÃO DE ÍCONES  */
.seta_baixo-icon {
width: 10px; 
height: auto;
margin-left: 5px; 
vertical-align: middle; 
}

/* BODY COLOR */
body {
background-color: #0d0d0d;
}

/* MAIN */
/* Estrutura do corpo do site */

/* BACKGROUND ABSTRATO */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1200px; 
  height: 870px;
  position: relative;
  box-shadow: 8px 4px 14.5px 4px #000000;
  background-color: #DFDFDF;
}

main .hero .content-hero{
  display: flex;
  flex-direction: row;
}

/* CONTAINERS */
.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* BOX ESQUERDA */
.box-esquerda{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 870px;
  font-family: inter;
  font-weight: bold;
}

.box-esquerda .content-box-esquerda{
  display: flex;
  height: 259px;
  width: 458px;
  
}

.content-text > h3{
  font-size: 14px;
  color: rgb(54, 54, 54);
}

.content-text > h1{
  font-weight: 700;
  font-size: 36px;
  font-family: inter; 
}
.content-text > p{
  font-size: 16px;
  color: #1b1b1b;
  padding: 5px 0px 25px 0px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  width: 458px;
  height: 43px;
  
}

.btn-faleconosco{
  display: flex;
  width: 160px;
  height: 43px;
  background-color: #0d0d0d;
  border-radius: 5px;
}

.btn-saiba-mais{
  display: flex;
  width: 160px;
  height: 43px;
  flex-direction: row;
  justify-content: space-around;
  border: 3px solid #0d0d0d;
  border-radius: 5px;
}

.btn-faleconosco > a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
  font-family: inter;
  font-weight: 900;
  color: #FFF;
}

.icon-saiba-mais{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: #0d0d0d;
}


.icon-saiba-mais > a{
  display: flex;
  text-decoration: none;
  font-weight: 800;
  color: #0d0d0d;
}

.icon-saiba-mais img{
  width: 11px;
  height: 11px;
}


/* BOX DIREITA */
.box-direita{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 870px;

}
.box-direita img{
  margin: 0 auto;
  width: 500px;
  height: auto;
  bottom: 0;
  position: absolute;
  right: 50px;
}

.grafico{
  display: flex;
  justify-content: center;

}

/* CONTAINER DO TIME DE PROFISSIONAIS */

.container-equipe{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 1200px;
  background-color: #151515;

}

/* BOX EQUIPE */
/* DIMENSÕES DOS RETÂNGULOS */
.box-equipe{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 800px;
  height: auto;
  gap: 50px;
  position: relative;
}

.box-equipe::before{
  content: "PROFISSIONAIS DO NOSSO TIME";
  font-family: roboto;
  font-weight: 500;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-bottom: 64px;
  display: block;
  color: #FFF;
  position: relative;
}

.box-equipe::after{
  content: "PRONTOS PARA TE AJUDAR!";
  font-family: roboto;
  font-weight: 300;
  color: #FFF;
  text-align: center;
  display: block;
  top: 45px;
  position: absolute;
}

  /* ESTILIZAÇÃO DOS RETANGULOS */
  .retangulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
    width: 203px;
    height: 306px;
    background-color: #EBEBEB;
    border-radius: 5px;
    position: relative;
  }

/* DIMENSIONAMENTO DAS IMAGENS DA EQUIPE */
.retangulo .img-equipe img {
  height: 303px;
  width: 203px;
  position: absolute;
  bottom: 45px;
  align-items: center;
}


/* DIMENSIONAMENTO RETÂNGULOS INTERNOS */
.retangulo .retangulo-interno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 93px;
  border-radius: 0px 0px 5px 5px;
  background-color: #EBEBEB;
  position: absolute;
  bottom: 0;
  font-family: Roboto;
}

.retangulo .retangulo-interno h2{
  margin: 0;
  text-align: center;
  font-size: 20px;
  
}

.retangulo .retangulo-interno h3{
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

/* CONTAINER FALE CONOSCO */
 .fale-conosco{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 1000px;
  background-color: #151515;

}

.info-fale-conosco{
  display: flex;
  justify-content: center;
  width: 702px;
  height: 815px;
  background-color: #151515;
  
  border-style: solid;
  border-color: #FFF;
}

/* ESTILIZAÇÃO PARÁGRAFOS ETAPAS L.D E L.E FALE-CONOSCO */
.texto{
  font-family: Roboto;
  color: #EDEDED;
  font-size: 23px;
  width: auto;
  word-wrap: break-word; 

}

/* DIV LADO ESQUERDO */
.etapa-lado-esquerdo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 755px;
  width: 351px;

}

.circulo-esquerdo-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #EDEDED;
  border-radius: 50%;
  margin: 54px 0 49px 0;
  
}

.circulo-esquerdo-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin: 64px 0 0 0;
}

/* DIV ETAPA CENTRO */
.etapa-centro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 755px;
}

.circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #EDEDED;
  color: #1D1D1D;
  font-family: roboto;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  margin: 10px 0px;
}

.linha-pontilhada {
  width: 2px;
  height: 127px;
  background: repeating-linear-gradient(
    to bottom,
    #fff,
    #fff 5px,
    transparent 5px,
    transparent 10px
  );

}

/* .perpendicular-circulo {
  width: 160px;
  height: 160px;
  background-color: #D9D9D9;
  color: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  
} */

/* LADO DIREITO DA DIV INFO FALE CONOSCO */
.etapa-lado-direito {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 755px;
  width: 351px;

}

.circulo-direito-1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin: 0px 0 69px 0;
}

.circulo-direito-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #D9D9D9;
  border-radius: 50%;
  margin: 68px 0 85px 0;
}

.btn-converse-conosco{
  display: flex;
  justify-content: center;
  color: #1D1D1D;
  background-color: #EDEDED;
  width: 335px;
  height: 60px;
  font-family: roboto;
  font-weight: 800;
  border-radius: 10px;
  font-size: 24px;
  padding: 16px 0px 0px 0px;

}
